*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: Heebo;
    src: url("fonts/Heebo-Black.ttf");
    font-weight: 900;
}


body{
    font-family: Heebo ,'Times New Roman', Times, serif;
}

/* .header */

.header{
    padding: 28px 60px;
}

.header__link{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.header__link--active{
    color: #FF6464;
}

.header__list{
    list-style: none;
    display: flex; 
    gap: 32px;
}

.header__nav{
    display: flex;
    justify-content: end;
}

/* .header */


/* .first */

.first__container{
    max-width:856px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.first{
padding-top: 127px;
padding-bottom: 68px;
}

.first__description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    max-width: 500px;
}

.first__title{
    font-size: 44px;
    font-weight: bold;
    line-height: 120%;
    color: #21243D;
}

.first__text{
    color: #21243D;
}

.first__img{
    width: 243px;
    height: 243px;
    border-radius: 50%;
    box-shadow: -5px 13px 0 #EDF7FA;
}


/* .first */

/* .button */

.button{
    font-weight: 500;
    font-size: 20px;
    text-decoration: #FF6464;
    border-radius: 2px;
    background-color: #FF6464;
    color: #fff;
    padding: 9px 20px;
}

/* .button */


